<a href="https://colab.research.google.com/github/charlie-paterson/West-Brom-Results-Machine-Learning/blob/main/West_brom_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split, GridSearchCV
import statsmodels.api as sm
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, ConfusionMatrixDisplay, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import roc_auc_score, f1_score
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from imblearn.over_sampling import SMOTE
from sklearn.pipeline import Pipeline

## Loading Dataset

In [ ]:
df = pd.read_excel('West Brom.xlsx')
df

,Name,Number,POS,GP,GS,CS,SV,GA,A,PAcc,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,A. Palmer,24,GK,46,46,18,104,47,0,73.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,J.Griffiths,33,GK,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Name,Number,POS,GP,GS,G,A,SH,SOT,PAcc,...,Percent algorithm,Index,NaN,NaN,Results,Home,HG,AG,Away,Result
5,B. Thomas-Asante,21,A,39,31,11,2,52,31,70.2,...,0.874576,11,NaN,NaN,2023-08-05 00:00:00,Blackburn Rovers,2,1,West Bromwich Albion,L
6,J. Swift,19,M,37,20,9,1,39,15,85.8,...,0.593037,10,NaN,NaN,2023-08-12 00:00:00,West Bromwich Albion,3,2,Swansea City,W
7,A. Mowatt,27,M,43,35,2,5,17,6,89.9,...,0.687555,8,NaN,NaN,2023-08-18 00:00:00,Leeds United,1,1,West Bromwich Albion,D
8,J. Wallace,7,M,42,35,6,5,23,13,75.9,...,0.71929,9,NaN,NaN,2023-08-26 00:00:00,West Bromwich Albion,4,2,Middlesbrough,W
9,O. Yokuşlu,35,M,44,41,1,1,23,7,87.4,...,0.728401,7,NaN,NaN,2023-09-02 00:00:00,West Bromwich Albion,1,2,Huddersfield Town,L
10,G. Diangana,11,M,36,29,7,8,28,13,82.6,...,0.764148,6,NaN,NaN,2023-09-16 00:00:00,Bristol City,0,0,West Bromwich Albion,D
11,C. Townsend,3,D,42,33,0,4,9,3,79.4,...,0.597886,5,NaN,NaN,2023-09-20 00:00:00,Watford,2,2,West Bromwich Albion,D
12,K. Bartley,5,D,36,31,4,1,21,7,86.8,...,0.494537,4,NaN,NaN,2023-09-23 00:00:00,West Bromwich Albion,0,0,Millwall,D
13,C. Kipré,4,D,44,44,2,1,15,4,87,...,0.685802,3,NaN,NaN,2023-09-30 00:00:00,Preston North End,0,4,West Bromwich Albion,W
14,D. Furlong,2,D,46,44,5,3,28,13,75.8,...,0.955623,2,NaN,NaN,2023-10-03 00:00:00,West Bromwich Albion,1,0,Sheffield Wednesday,W
15,A.Palmer,NaN,GK,46,46,NaN,NaN,NaN,NaN,73.4,...,0.195964,1,NaN,NaN,2023-10-06 00:00:00,Birmingham City,3,1,West Bromwich Albion,L
16,J. Sarmiento,17,M,20,7,2,1,31,20,76.8,...,0.522921,NaN,NaN,NaN,2023-10-21 00:00:00,West Bromwich Albion,0,0,Plymouth Argyle,D
17,M. Phillips,10,M,26,19,3,3,20,7,77.8,...,0.431137,NaN,NaN,NaN,2023-10-24 00:00:00,West Bromwich Albion,2,0,Queens Park Rangers,W
18,T. Fellows,31,M,33,14,4,3,13,8,84.3,...,0.423589,NaN,NaN,NaN,2023-10-30 00:00:00,Coventry City,0,2,West Bromwich Albion,W
19,M. Johnston,23,A,18,15,7,1,20,13,84.4,...,0.410375,NaN,NaN,NaN,2023-11-04 00:00:00,West Bromwich Albion,3,1,Hull City,W
20,A. Weimann,17,A,32,13,2,2,19,8,72.5,...,0.337636,NaN,NaN,NaN,2023-11-11 00:00:00,Southampton,2,1,West Bromwich Albion,L
21,N. Chalobah,14,M,33,7,0,1,8,4,85.7,...,0.303269,NaN,NaN,NaN,2023-11-25 00:00:00,West Bromwich Albion,2,0,Ipswich Town,W
22,S. Ajayi,6,D,26,10,2,1,5,2,81.9,...,0.262918,NaN,NaN,NaN,2023-11-28 00:00:00,Cardiff City,0,1,West Bromwich Albion,W
23,E. Pieters,15,D,22,19,0,0,4,1,85.9,...,0.256499,NaN,NaN,NaN,2023-12-02 00:00:00,West Bromwich Albion,1,2,Leicester City,L
24,J. Molumby,8,M,24,12,0,1,10,0,86.9,...,0.23657,NaN,NaN,NaN,2023-12-09 00:00:00,Sunderland,2,1,West Bromwich Albion,L
25,A. Reach,20,M,17,5,0,1,5,2,83.8,...,0.195468,NaN,NaN,NaN,2023-12-12 00:00:00,Rotherham United,0,2,West Bromwich Albion,W
26,Pipa,26,D,13,1,0,1,5,3,79.6,...,0.129351,NaN,NaN,NaN,2023-12-17 00:00:00,West Bromwich Albion,1,1,Stoke City,D
27,J. Maja,9,A,12,1,1,0,2,2,81.7,...,0.106092,NaN,NaN,NaN,2023-12-23 00:00:00,Middlesbrough,1,0,West Bromwich Albion,L
28,Y. M'Vila,22,M,7,3,0,0,2,1,85.1,...,0.101708,NaN,NaN,NaN,2023-12-26 00:00:00,West Bromwich Albion,1,0,Norwich City,W
29,C. Taylor,36,D,3,0,0,0,0,0,83.3,...,0.053365,NaN,NaN,NaN,2023-12-29 00:00:00,West Bromwich Albion,1,0,Leeds United,W
30,D. Dike,12,A,4,0,0,0,4,1,55.6,...,0.050076,NaN,NaN,NaN,2024-01-01 00:00:00,Swansea City,1,0,West Bromwich Albion,L
31,C. Marshall,25,A,3,0,0,0,1,0,58.8,...,0.039922,NaN,NaN,NaN,2024-01-13 00:00:00,West Bromwich Albion,4,1,Blackburn Rovers,W
32,Own Goals,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,0.029412,NaN,NaN,NaN,2024-01-20 00:00:00,Norwich City,2,0,West Bromwich Albion,L
33,E. Ingram,34,D,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-03 00:00:00,West Bromwich Albion,1,0,Birmingham City,W
34,L. Love,#,A,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-10 00:00:00,Ipswich Town,2,2,West Bromwich Albion,D
35,J. Shaw,#,D,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-13 00:00:00,West Bromwich Albion,2,0,Cardiff City,W
36,F. Heard,#,M,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-16 00:00:00,West Bromwich Albion,0,2,Southampton,L
37,R. Cleary,#,A,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-20 00:00:00,Plymouth Argyle,0,3,West Bromwich Albion,W
38,R. Hall,#,D,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-02-24 00:00:00,Hull City,1,1,West Bromwich Albion,D
39,H. Whitwell,#,M,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-03-01 00:00:00,West Bromwich Albion,2,1,Coventry City,W
40,A. Higgins,#,A,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-03-06 00:00:00,Queens Park Rangers,2,2,West Bromwich Albion,D
41,J. Malcolm,32,A,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,2024-03-10 00:00:00,Huddersfield Town,1,4,West Bromwich Albion,W
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,2024-03-16 00:00:00,West Bromwich Albion,2,0,Bristol City,W
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-03-29 00:00:00,Millwall,1,1,West Bromwich Albion,D
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-04-01 00:00:00,West Bromwich Albion,2,2,Watford,D
45,Total,NaN,NaN,748,515,70,46,404,184,2158.3,...,NaN,NaN,NaN,NaN,2024-04-06 00:00:00,Stoke City,2,2,West Bromwich Albion,D
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-04-10 00:00:00,West Bromwich Albion,2,0,Rotherham United,W
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-04-13 00:00:00,West Bromwich Albion,0,1,Sunderland,L
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-04-20 00:00:00,Leicester City,2,1,West Bromwich Albion,L
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-04-27 00:00:00,Sheffield Wednesday,3,0,West Bromwich Albion,L
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2024-05-04 00:00:00,West Bromwich Albion,3,0,Preston North End,W

## Clean Data

In [ ]:
def drop_columns_in_range(df, start_col, end_col):
    start_idx = df.columns.get_loc(start_col)
    end_idx = df.columns.get_loc(end_col)
    return df.drop(df.columns[start_idx:end_idx+1], axis=1)

df_dropped = drop_columns_in_range(df, 'Name', 'Unnamed: 21')
df_dropped2 = df_dropped.drop(df.index[[0,1,2,3,4]])
df_dropped2

,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
5,2023-08-05 00:00:00,Blackburn Rovers,2,1,West Bromwich Albion,L
6,2023-08-12 00:00:00,West Bromwich Albion,3,2,Swansea City,W
7,2023-08-18 00:00:00,Leeds United,1,1,West Bromwich Albion,D
8,2023-08-26 00:00:00,West Bromwich Albion,4,2,Middlesbrough,W
9,2023-09-02 00:00:00,West Bromwich Albion,1,2,Huddersfield Town,L
10,2023-09-16 00:00:00,Bristol City,0,0,West Bromwich Albion,D
11,2023-09-20 00:00:00,Watford,2,2,West Bromwich Albion,D
12,2023-09-23 00:00:00,West Bromwich Albion,0,0,Millwall,D
13,2023-09-30 00:00:00,Preston North End,0,4,West Bromwich Albion,W
14,2023-10-03 00:00:00,West Bromwich Albion,1,0,Sheffield Wednesday,W
15,2023-10-06 00:00:00,Birmingham City,3,1,West Bromwich Albion,L
16,2023-10-21 00:00:00,West Bromwich Albion,0,0,Plymouth Argyle,D
17,2023-10-24 00:00:00,West Bromwich Albion,2,0,Queens Park Rangers,W
18,2023-10-30 00:00:00,Coventry City,0,2,West Bromwich Albion,W
19,2023-11-04 00:00:00,West Bromwich Albion,3,1,Hull City,W
20,2023-11-11 00:00:00,Southampton,2,1,West Bromwich Albion,L
21,2023-11-25 00:00:00,West Bromwich Albion,2,0,Ipswich Town,W
22,2023-11-28 00:00:00,Cardiff City,0,1,West Bromwich Albion,W
23,2023-12-02 00:00:00,West Bromwich Albion,1,2,Leicester City,L
24,2023-12-09 00:00:00,Sunderland,2,1,West Bromwich Albion,L
25,2023-12-12 00:00:00,Rotherham United,0,2,West Bromwich Albion,W
26,2023-12-17 00:00:00,West Bromwich Albion,1,1,Stoke City,D
27,2023-12-23 00:00:00,Middlesbrough,1,0,West Bromwich Albion,L
28,2023-12-26 00:00:00,West Bromwich Albion,1,0,Norwich City,W
29,2023-12-29 00:00:00,West Bromwich Albion,1,0,Leeds United,W
30,2024-01-01 00:00:00,Swansea City,1,0,West Bromwich Albion,L
31,2024-01-13 00:00:00,West Bromwich Albion,4,1,Blackburn Rovers,W
32,2024-01-20 00:00:00,Norwich City,2,0,West Bromwich Albion,L
33,2024-02-03 00:00:00,West Bromwich Albion,1,0,Birmingham City,W
34,2024-02-10 00:00:00,Ipswich Town,2,2,West Bromwich Albion,D
35,2024-02-13 00:00:00,West Bromwich Albion,2,0,Cardiff City,W
36,2024-02-16 00:00:00,West Bromwich Albion,0,2,Southampton,L
37,2024-02-20 00:00:00,Plymouth Argyle,0,3,West Bromwich Albion,W
38,2024-02-24 00:00:00,Hull City,1,1,West Bromwich Albion,D
39,2024-03-01 00:00:00,West Bromwich Albion,2,1,Coventry City,W
40,2024-03-06 00:00:00,Queens Park Rangers,2,2,West Bromwich Albion,D
41,2024-03-10 00:00:00,Huddersfield Town,1,4,West Bromwich Albion,W
42,2024-03-16 00:00:00,West Bromwich Albion,2,0,Bristol City,W
43,2024-03-29 00:00:00,Millwall,1,1,West Bromwich Albion,D
44,2024-04-01 00:00:00,West Bromwich Albion,2,2,Watford,D
45,2024-04-06 00:00:00,Stoke City,2,2,West Bromwich Albion,D
46,2024-04-10 00:00:00,West Bromwich Albion,2,0,Rotherham United,W
47,2024-04-13 00:00:00,West Bromwich Albion,0,1,Sunderland,L
48,2024-04-20 00:00:00,Leicester City,2,1,West Bromwich Albion,L
49,2024-04-27 00:00:00,Sheffield Wednesday,3,0,West Bromwich Albion,L
50,2024-05-04 00:00:00,West Bromwich Albion,3,0,Preston North End,W

In [ ]:
df_dropped2 = df_dropped2.rename(columns={'Unnamed: 22': 'Date', 'Unnamed: 23': 'Home',
                                          'Unnamed: 24': 'HG', 'Unnamed: 25': 'AG',
                                          'Unnamed: 26': 'Away', 'Unnamed: 27': 'Result'})
df_dropped2

,Date,Home,HG,AG,Away,Result
5,2023-08-05 00:00:00,Blackburn Rovers,2,1,West Bromwich Albion,L
6,2023-08-12 00:00:00,West Bromwich Albion,3,2,Swansea City,W
7,2023-08-18 00:00:00,Leeds United,1,1,West Bromwich Albion,D
8,2023-08-26 00:00:00,West Bromwich Albion,4,2,Middlesbrough,W
9,2023-09-02 00:00:00,West Bromwich Albion,1,2,Huddersfield Town,L
10,2023-09-16 00:00:00,Bristol City,0,0,West Bromwich Albion,D
11,2023-09-20 00:00:00,Watford,2,2,West Bromwich Albion,D
12,2023-09-23 00:00:00,West Bromwich Albion,0,0,Millwall,D
13,2023-09-30 00:00:00,Preston North End,0,4,West Bromwich Albion,W
14,2023-10-03 00:00:00,West Bromwich Albion,1,0,Sheffield Wednesday,W
15,2023-10-06 00:00:00,Birmingham City,3,1,West Bromwich Albion,L
16,2023-10-21 00:00:00,West Bromwich Albion,0,0,Plymouth Argyle,D
17,2023-10-24 00:00:00,West Bromwich Albion,2,0,Queens Park Rangers,W
18,2023-10-30 00:00:00,Coventry City,0,2,West Bromwich Albion,W
19,2023-11-04 00:00:00,West Bromwich Albion,3,1,Hull City,W
20,2023-11-11 00:00:00,Southampton,2,1,West Bromwich Albion,L
21,2023-11-25 00:00:00,West Bromwich Albion,2,0,Ipswich Town,W
22,2023-11-28 00:00:00,Cardiff City,0,1,West Bromwich Albion,W
23,2023-12-02 00:00:00,West Bromwich Albion,1,2,Leicester City,L
24,2023-12-09 00:00:00,Sunderland,2,1,West Bromwich Albion,L
25,2023-12-12 00:00:00,Rotherham United,0,2,West Bromwich Albion,W
26,2023-12-17 00:00:00,West Bromwich Albion,1,1,Stoke City,D
27,2023-12-23 00:00:00,Middlesbrough,1,0,West Bromwich Albion,L
28,2023-12-26 00:00:00,West Bromwich Albion,1,0,Norwich City,W
29,2023-12-29 00:00:00,West Bromwich Albion,1,0,Leeds United,W
30,2024-01-01 00:00:00,Swansea City,1,0,West Bromwich Albion,L
31,2024-01-13 00:00:00,West Bromwich Albion,4,1,Blackburn Rovers,W
32,2024-01-20 00:00:00,Norwich City,2,0,West Bromwich Albion,L
33,2024-02-03 00:00:00,West Bromwich Albion,1,0,Birmingham City,W
34,2024-02-10 00:00:00,Ipswich Town,2,2,West Bromwich Albion,D
35,2024-02-13 00:00:00,West Bromwich Albion,2,0,Cardiff City,W
36,2024-02-16 00:00:00,West Bromwich Albion,0,2,Southampton,L
37,2024-02-20 00:00:00,Plymouth Argyle,0,3,West Bromwich Albion,W
38,2024-02-24 00:00:00,Hull City,1,1,West Bromwich Albion,D
39,2024-03-01 00:00:00,West Bromwich Albion,2,1,Coventry City,W
40,2024-03-06 00:00:00,Queens Park Rangers,2,2,West Bromwich Albion,D
41,2024-03-10 00:00:00,Huddersfield Town,1,4,West Bromwich Albion,W
42,2024-03-16 00:00:00,West Bromwich Albion,2,0,Bristol City,W
43,2024-03-29 00:00:00,Millwall,1,1,West Bromwich Albion,D
44,2024-04-01 00:00:00,West Bromwich Albion,2,2,Watford,D
45,2024-04-06 00:00:00,Stoke City,2,2,West Bromwich Albion,D
46,2024-04-10 00:00:00,West Bromwich Albion,2,0,Rotherham United,W
47,2024-04-13 00:00:00,West Bromwich Albion,0,1,Sunderland,L
48,2024-04-20 00:00:00,Leicester City,2,1,West Bromwich Albion,L
49,2024-04-27 00:00:00,Sheffield Wednesday,3,0,West Bromwich Albion,L
50,2024-05-04 00:00:00,West Bromwich Albion,3,0,Preston North End,W

In [ ]:
df_dropped3 = df_dropped2.drop(columns=['Date'])
df_dropped3.reset_index()

    index                  Home HG AG                  Away Result
0       5      Blackburn Rovers  2  1  West Bromwich Albion      L
1       6  West Bromwich Albion  3  2          Swansea City      W
2       7          Leeds United  1  1  West Bromwich Albion      D
3       8  West Bromwich Albion  4  2         Middlesbrough      W
4       9  West Bromwich Albion  1  2     Huddersfield Town      L
5      10          Bristol City  0  0  West Bromwich Albion      D
6      11               Watford  2  2  West Bromwich Albion      D
7      12  West Bromwich Albion  0  0              Millwall      D
8      13     Preston North End  0  4  West Bromwich Albion      W
9      14  West Bromwich Albion  1  0   Sheffield Wednesday      W
10     15       Birmingham City  3  1  West Bromwich Albion      L
11     16  West Bromwich Albion  0  0       Plymouth Argyle      D
12     17  West Bromwich Albion  2  0   Queens Park Rangers      W
13     18         Coventry City  0  2  West Bromwich Albion      W
14     19  West Bromwich Albion  3  1             Hull City      W
15     20           Southampton  2  1  West Bromwich Albion      L
16     21  West Bromwich Albion  2  0          Ipswich Town      W
17     22          Cardiff City  0  1  West Bromwich Albion      W
18     23  West Bromwich Albion  1  2        Leicester City      L
19     24            Sunderland  2  1  West Bromwich Albion      L
20     25      Rotherham United  0  2  West Bromwich Albion      W
21     26  West Bromwich Albion  1  1            Stoke City      D
22     27         Middlesbrough  1  0  West Bromwich Albion      L
23     28  West Bromwich Albion  1  0          Norwich City      W
24     29  West Bromwich Albion  1  0          Leeds United      W
25     30          Swansea City  1  0  West Bromwich Albion      L
26     31  West Bromwich Albion  4  1      Blackburn Rovers      W
27     32          Norwich City  2  0  West Bromwich Albion      L
28     33  West Bromwich Albion  1  0       Birmingham City      W
29     34          Ipswich Town  2  2  West Bromwich Albion      D
30     35  West Bromwich Albion  2  0          Cardiff City      W
31     36  West Bromwich Albion  0  2           Southampton      L
32     37       Plymouth Argyle  0  3  West Bromwich Albion      W
33     38             Hull City  1  1  West Bromwich Albion      D
34     39  West Bromwich Albion  2  1         Coventry City      W
35     40   Queens Park Rangers  2  2  West Bromwich Albion      D
36     41     Huddersfield Town  1  4  West Bromwich Albion      W
37     42  West Bromwich Albion  2  0          Bristol City      W
38     43              Millwall  1  1  West Bromwich Albion      D
39     44  West Bromwich Albion  2  2               Watford      D
40     45            Stoke City  2  2  West Bromwich Albion      D
41     46  West Bromwich Albion  2  0      Rotherham United      W
42     47  West Bromwich Albion  0  1            Sunderland      L
43     48        Leicester City  2  1  West Bromwich Albion      L
44     49   Sheffield Wednesday  3  0  West Bromwich Albion      L
45     50  West Bromwich Albion  3  0     Preston North End      W

## Feature Engineering

In [ ]:
df_dropped3['Home_or_Away'] = df_dropped3.apply(
    lambda row: 'Home' if row['Home'] == 'West Bromwich Albion' else 'Away' if row['Away'] == 'West Bromwich Albion' else 'Unknown',
    axis=1
)
df_dropped3

                    Home HG AG                  Away Result Home_or_Away
5       Blackburn Rovers  2  1  West Bromwich Albion      L         Away
6   West Bromwich Albion  3  2          Swansea City      W         Home
7           Leeds United  1  1  West Bromwich Albion      D         Away
8   West Bromwich Albion  4  2         Middlesbrough      W         Home
9   West Bromwich Albion  1  2     Huddersfield Town      L         Home
10          Bristol City  0  0  West Bromwich Albion      D         Away
11               Watford  2  2  West Bromwich Albion      D         Away
12  West Bromwich Albion  0  0              Millwall      D         Home
13     Preston North End  0  4  West Bromwich Albion      W         Away
14  West Bromwich Albion  1  0   Sheffield Wednesday      W         Home
15       Birmingham City  3  1  West Bromwich Albion      L         Away
16  West Bromwich Albion  0  0       Plymouth Argyle      D         Home
17  West Bromwich Albion  2  0   Queens Park Rangers      W         Home
18         Coventry City  0  2  West Bromwich Albion      W         Away
19  West Bromwich Albion  3  1             Hull City      W         Home
20           Southampton  2  1  West Bromwich Albion      L         Away
21  West Bromwich Albion  2  0          Ipswich Town      W         Home
22          Cardiff City  0  1  West Bromwich Albion      W         Away
23  West Bromwich Albion  1  2        Leicester City      L         Home
24            Sunderland  2  1  West Bromwich Albion      L         Away
25      Rotherham United  0  2  West Bromwich Albion      W         Away
26  West Bromwich Albion  1  1            Stoke City      D         Home
27         Middlesbrough  1  0  West Bromwich Albion      L         Away
28  West Bromwich Albion  1  0          Norwich City      W         Home
29  West Bromwich Albion  1  0          Leeds United      W         Home
30          Swansea City  1  0  West Bromwich Albion      L         Away
31  West Bromwich Albion  4  1      Blackburn Rovers      W         Home
32          Norwich City  2  0  West Bromwich Albion      L         Away
33  West Bromwich Albion  1  0       Birmingham City      W         Home
34          Ipswich Town  2  2  West Bromwich Albion      D         Away
35  West Bromwich Albion  2  0          Cardiff City      W         Home
36  West Bromwich Albion  0  2           Southampton      L         Home
37       Plymouth Argyle  0  3  West Bromwich Albion      W         Away
38             Hull City  1  1  West Bromwich Albion      D         Away
39  West Bromwich Albion  2  1         Coventry City      W         Home
40   Queens Park Rangers  2  2  West Bromwich Albion      D         Away
41     Huddersfield Town  1  4  West Bromwich Albion      W         Away
42  West Bromwich Albion  2  0          Bristol City      W         Home
43              Millwall  1  1  West Bromwich Albion      D         Away
44  West Bromwich Albion  2  2               Watford      D         Home
45            Stoke City  2  2  West Bromwich Albion      D         Away
46  West Bromwich Albion  2  0      Rotherham United      W         Home
47  West Bromwich Albion  0  1            Sunderland      L         Home
48        Leicester City  2  1  West Bromwich Albion      L         Away
49   Sheffield Wednesday  3  0  West Bromwich Albion      L         Away
50  West Bromwich Albion  3  0     Preston North End      W         Home

## Encoding Data

In [ ]:
df_dropped3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 5 to 50
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Home          46 non-null     object
 1   HG            46 non-null     object
 2   AG            46 non-null     object
 3   Away          46 non-null     object
 4   Result        46 non-null     object
 5   Home_or_Away  46 non-null     object
dtypes: object(6)
memory usage: 2.3+ KB

In [ ]:
label = LabelEncoder()

In [ ]:
label.fit(df_dropped3.Home)
df_dropped3.Home = label.transform(df_dropped3.Home)

In [ ]:
label.fit(df_dropped3.Away)
df_dropped3.Away = label.transform(df_dropped3.Away)

In [ ]:
df_dropped3['HG'] = df_dropped3['HG'].astype(int)

In [ ]:
df_dropped3['AG'] = df_dropped3['AG'].astype(int)

In [ ]:
label.fit(df_dropped3.Result)
df_dropped3.Result = label.transform(df_dropped3.Result)

In [ ]:
label.fit(df_dropped3.Home_or_Away)
df_dropped3.Home_or_Away = label.transform(df_dropped3.Home_or_Away)

## Training

In [ ]:
features = ['Home', 'HG', 'AG', 'Away', 'Home_or_Away']
X = df_dropped3[features]
y = df_dropped3['Result']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20,random_state = 365)

In [ ]:
X_train_array = np.asarray(X_train, dtype='float')
y_train_array = np.asarray(y_train, dtype='int')
X_test_array = np.asarray(X_test, dtype='float')
y_test_array = np.asarray(y_test, dtype='int')

### Logistic Regression Model

In [ ]:
mnlog_reg = sm.MNLogit(y_train_array, X_train_array)
mnlog_reg_results = mnlog_reg.fit()
print(mnlog_reg_results.summary())

Optimization terminated successfully.
         Current function value: 0.878871
         Iterations 6
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   36
Model:                        MNLogit   Df Residuals:                       26
Method:                           MLE   Df Model:                            8
Date:                Wed, 31 Jul 2024   Pseudo R-squ.:                  0.1368
Time:                        17:26:54   Log-Likelihood:                -31.639
converged:                       True   LL-Null:                       -36.652
Covariance Type:            nonrobust   LLR p-value:                    0.2633
==============================================================================
       y=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0802      0.098     -0.816      0.414      -0.273       0.112
x2             0.6836      0.591      1.157      0.247      -0.475       1.842
x3             0.3523      0.553      0.638      0.524      -0.731       1.435
x4            -0.0198      0.053     -0.371      0.711      -0.124       0.085
x5             1.2995      1.912      0.679      0.497      -2.449       5.048
------------------------------------------------------------------------------
       y=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0986      0.101     -0.976      0.329      -0.296       0.099
x2             0.5288      0.561      0.943      0.346      -0.570       1.628
x3             0.7932      0.521      1.523      0.128      -0.227       1.814
x4            -0.0389      0.054     -0.723      0.470      -0.144       0.066
x5             3.3694      1.923      1.752      0.080      -0.399       7.138
==============================================================================

### Random Forest Model

In [ ]:
best_ccp_alpha = 0.01
rf = RandomForestClassifier()
rf.fit(X_train_array, y_train_array)
y_pred = rf.predict(X_test_array)

In [ ]:
cr = classification_report(y_test_array, y_pred)
print("\nClassification Report:")
print(cr)
print(" ")

f1 = f1_score(y_test_array, y_pred, average='weighted')
print(f"F1 Score: {np.round(f1, 2)}")

accuracy = accuracy_score(y_test_array, y_pred)
print(f"Accuracy Score: {np.round(accuracy, 2)}")

cv_scores = cross_val_score(rf, X, y, cv=5)
print("Mean CV score:", np.round(cv_scores.mean(), 2))

Classification Report:
              precision    recall  f1-score   support

           0       0.67      0.50      0.57         4
           1       1.00      0.75      0.86         4
           2       0.50      1.00      0.67         2

    accuracy                           0.70        10
   macro avg       0.72      0.75      0.70        10
weighted avg       0.77      0.70      0.70        10


F1 Score: 0.7
Accuracy Score: 0.7
Mean CV score: 0.63

## Gradient Boosting Classifier

In [ ]:
gb = GradientBoostingClassifier()
gb.fit(X_train_array, y_train_array)
y_pred_gb = gb.predict(X_test_array)

In [ ]:
cr = classification_report(y_test_array, y_pred_gb)
print("\nClassification Report:")
print(cr)
print(" ")

f1 = f1_score(y_test_array, y_pred_gb, average='weighted')
print(f"F1 Score: {np.round(f1, 2)}")

accuracy = accuracy_score(y_test_array, y_pred_gb)
print(f"Accuracy Score: {np.round(accuracy, 2)}")

cv_scores = cross_val_score(gb, X, y, cv=5)
print("Mean CV score:", np.round(cv_scores.mean(), 2))

Classification Report:
              precision    recall  f1-score   support

           0       0.80      1.00      0.89         4
           1       1.00      0.75      0.86         4
           2       1.00      1.00      1.00         2

    accuracy                           0.90        10
   macro avg       0.93      0.92      0.92        10
weighted avg       0.92      0.90      0.90        10


F1 Score: 0.9
Accuracy Score: 0.9
Mean CV score: 0.57

Prediction Model

In [ ]:
mapping = {1: 'L', 0: 'W', 2: 'D'}
vectorized_mapping = np.vectorize(mapping.get)
new_y_test_array = vectorized_mapping(y_test_array)
vectorized_mapping = np.vectorize(mapping.get)
new_y_pred_gb = vectorized_mapping(y_pred_gb)
comparison_df = pd.DataFrame({'Actual': new_y_test_array, 'Predicted': new_y_pred_gb})
print("\nComparison of Actual vs Predicted Labels:")
print(comparison_df)

Comparison of Actual vs Predicted Labels:
  Actual Predicted
0      L         L
1      W         W
2      D         D
3      L         L
4      W         W
5      L         L
6      D         D
7      W         W
8      L         W
9      W         W

In [ ]:
new_y_pred_gb
count = 0
for pred in new_y_pred_gb:
  if pred == 'L':
    count += 0
  elif pred == 'W':
    count += 3
  elif pred == 'D':
    count += 1

print(f"Total points from test size results: {count}")

Total points from test size results: 17